<!DOCTYPE html>
    <%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header', {pagina: 'Sobre'}); %>

        <main>
            <div class="jumbotron">
                <h1>About me</h1>
                <p>Olá! Me chamo Antonio Bandeira e sou um aspirante a programador!</p>
            </div>
        </main>
        <%- include('../partials/footer'); %>
    </body>
</html>